/*scary font*/
#navbar {
    font-family: 'Shadows Into Light', cursive;
}

/*bootstrap buttons*/
.btn-primary {
    background-color: 
}

.btn-success {
    background-color: #448aff;
}

.btn-warning {
    background-color: orangered;
}

#loginPage {
    margin-top: 1em;
}

h1{
    text-align: center;
}

.center-text {
    text-align: center;
}

input {
    outline: none;
}

#cardz {
    padding-top: .5em;
    text-align: center;
}



