/*scary font*/
#navbar {
    font-family: 'Shadows Into Light', cursive;
}

/*bootstrap buttons*/
.btn-primary {
    background-color: 
}

.btn-success {
    background-color: #448aff;
}

.btn-warning {
    background-color: orangered;
}
